.container-fluid {
background-color: #db7e5c;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
border-bottom: white solid 1px;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	padding-top: 50px;
}
a {
	color: white;
	font-weight: 100;
	text-decoration: none;
}

.clearfix {
	background-color: #febda5;
}
.float-left {
	max-width: 50%;
	float: left;
}

.float-right {
	color: white;;
	font-size: 36px;
	font-weight: 500;
	margin-top: 30%;
	float: right;
	max-width: 50%
}

.float-right a:hover {
	padding: 20px;
	text-decoration: none;
	color: white;
	font-weight: 500;
	border-bottom: white 1px solid;
}

.col-sm-4 img {
	max-width: 300px;
}

.col-sm-4 a {
	color: black;
	font-size: 34px;
	text-decoration: none;
	transition: 0.5s;
}
.col-sm-4 a:hover {
	font-size: 36px;
}
